.note_section {
  width: 100%;
  height: clamp(80px, 5vw, 90px);
  border-radius: 16px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
  margin-bottom: 5px;
}

.note_section:focus,
.note_section:hover {
  background: rgba(134, 130, 130, 0.16);
}

.note_section div {
  width: clamp(60px, 6vw, 70px);
  height: clamp(60px, 6vw, 70px);
  background: rgba(0, 71, 255, 1);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(23px, 4vw, 24px);
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.02em;
}
.note_section h3 {
  color: rgba(0, 0, 0, 1);
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;
}
@media screen and (max-width: 450px) {
  .note_section {
    margin-bottom: 0;
  }
}
